@use "../globals";

// font-family: "Inter", sans-serif
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

// font-family: "Protest Strike", sans-serif
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

$main-font: "Inter", sans-serif;
$time-font: "Protest Strike", sans-serif;
$edit-bg: globals.$white;

.time-date-component {
    width: 350px;
    color: globals.$white;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &.edit {
        background-color: $edit-bg;
        color: #0a0a0a;
    }

    & > * {
        width: 100%;
    }

    img {
        width: 20px;
    }
}

button.time-date-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;

    .edit-tool-tip {
        opacity: 0;
        color: #ffffff;
        transition: 500ms opacity ease-in-out;
    }

    &:hover .edit-tool-tip {
        opacity: 1;
        &.hidden {
            opacity: 1;
        }
    }
    &:active .edit-tool-tip {
        opacity: 0.85;
        &.hidden {
            opacity: 1;
        }
    }

    p.time {
        font-size: 3em;
        font-family: $time-font;
    }
    p.date {
        font-size: 1.1em;
    }
}

.drop-down-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    user-select: none;
    overflow: hidden;
    transition: 500ms max-height ease-in-out;

    &.active {
        height: auto;
        max-height: 2000px;
    }

    button {
        width: 100%;
        height: 50px;
    }

    .format-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        height: auto;
        overflow: hidden;
        position: relative;

        .format-button-wrapper {
            width: 100%;
            background-color: darken(#00fff8, 10%);
            transition: 300ms background-color ease-in-out;
            &.active {
                background-color: #00fff8;
            }
        }
        button.format-button {
            background-color: #42899e;
            transition: 100ms all ease-in-out;
            &:hover {
                margin-left: 5px;

                & + .underline {
                    height: 4px;
                    width: 100%;
                    background-color: #00fff8;
                }
            }
            &.active {
                margin-left: 20px;
            }
        }
    }
    .underline {
        width: 0;
        background-color: #00fff8;
        align-self: flex-start;
        transition: 300ms width ease-in-out;
        &.active {
            height: 4px;
            width: 100%;
        }
    }
    .sub-drop-down-wrapper {
        height: auto;
        width: 100%;
        color: globals.$white;
        background-color: #7996c3;
        max-height: 0;

        &.active {
            max-height: 2000px;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;

            button {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px 0 30px;
                &:hover {
                    background-color: #00000020;
                }
                &:active {
                    background-color: #00000025;
                }
            }
        }

        ul.choose-time-format {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                margin-left: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button.checkbox-slider {
                    width: 70px;
                    height: 40px;
                    background-color: pink;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    border-radius: 40px;
                    padding: 5px;

                    .slider-switch {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: green;
                        transition: 100ms transform ease-in-out;
                        img {
                            opacity: 0;
                            transition: 100ms opacity ease-in-out;
                        }

                        &.on {
                            img {
                                opacity: 1;
                            }
                            transform: translateX(100%);
                        }
                    }
                }
            }
        }
    }
}
