@use "../globals";

// font-family: "Inter", sans-serif
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

// font-family: "Protest Strike", sans-serif
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

$main-font: "Inter", sans-serif;
$time-font: "Protest Strike", sans-serif;
$edit-bg: globals.$white;

.time-date-component {
    width: 350px;
    color: globals.$white;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &.edit-mode {
        background-color: $edit-bg;
        color: #0a0a0a;
    }

    & > * {
        width: 100%;
    }

    img {
        width: 20px;
    }
}

button.time-date-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;

    .edit-tool-tip {
        opacity: 0;
        color: #ffffff;
        transition: 500ms opacity ease-in-out;
    }

    &:hover .edit-tool-tip.visible {
        opacity: 1;
    }
    &:active .edit-tool-tip.visible {
        opacity: 0.85;
    }

    p.time {
        font-size: 3em;
        font-family: $time-font;
    }
    p.date {
        font-size: 1.1em;
    }
}

.drop-down-wrapper {
    max-height: 0;
    user-select: none;
    overflow: hidden;
    transition: 500ms max-height ease-in-out;

    &.active {
        height: auto;
        max-height: 2000px;
    }
    button {
        width: 100%;
        height: 50px;

        &:hover {
            background-color: #00000020;
        }
    }
    .format-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #006300;
        height: 50px;
        height: auto;
        overflow: hidden;
        position: relative;

        button.format-button {
            background-color: globals.$white;
            transition: 300ms all ease-in-out;
            &:hover {
                margin-left: 10px;
            }
            &.active {
                margin-left: 30px;
            }
        }
    }
    .underline {
        width: 0;
        background-color: red;
        // align-self: flex-start;
        transition: 500ms width ease-in-out;
        &.active {
            height: 3px;
            width: 100%;
        }
    }
    .sub-drop-down-wrapper {
        height: auto;
        width: 100%;
        max-height: 0;
        background-color: green;

        &.active {
            max-height: 2000px;
        }

        ul {
            width: 100%;
        }
    }
}
