@use "../globals";

.center-container {
    // border: 2px solid blue;
    width: 650px;
    height: 400px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 175px;
    left: 0;
    right: 0;
}

section.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
        width: 20px;
    }

    .search-bar-container {
        background-color: globals.$white;
        width: 100%;
        height: 60px;
        padding: 10px 25px 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        button.show-search-engines {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            img.down-caret {
                transition: 100ms transform ease-in-out;
                &.inverted {
                    transform: rotate(180deg);
                }
            }
        }

        form.search {
            display: flex;
            flex-grow: 1;

            button.go-search img {
                transition: 100ms transform ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(1.12);
                }
            }

            input[type="text"] {
                background-color: globals.$full-transparent-bg;
                border-color: globals.$full-transparent-bg;
                width: 100%;
            }
        }
    }
    ul.search-engines-drop-down {
        background-color: globals.$white;
        display: grid;
        grid-template-rows: repeat(auto, 1fr);
        height: 0;
        overflow: hidden;
        transition: 100ms height linear;
        z-index: 101;

        &.visible {
            height: 275px;
        }
        li {
            width: 100%;
            flex-grow: 1;

            button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                width: 100%;
                height: 100%;
                gap: 10px;
                padding: 10px 25px 10px 25px;

                &:hover {
                    background-color: globals.$white-hover;
                }
                &:active {
                    background-color: globals.$white-active;
                }

                p {
                    flex-grow: 1;
                    text-align: start;
                }

                img.check-icon {
                    opacity: 0;
                    &.visible {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
