.center-container {
    // border: 2px solid blue;
    width: 650px;
    height: 400px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 175px;
    left: 0;
    right: 0;
}

form.search {
    background-color: #f5f5f5ff;
    width: 100%;
    height: auto;
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    input[type="text"] {
        background-color: #00000000;
        border-color: #00000000;
    }

    .search-engines-container {
        width: 25px;
        ul.search-engines-list {
            overflow: hidden;
            height: 0;

            &.visible {
                height: auto;
            }
        }
    }
}
